@font-face {
    font-family: 'GG Sans';
    src: url('assets/ggsans.woff2') format('woff2');
}



body {
    font: 'GG Sans';
    background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  }