@font-face {
  font-family: gsans;
  src: url(/assets/fonts/gsans.ttf);


}
@font-face {
font-family: gsansb;
src: url(/assets/fonts/gbold.ttf);
}
body {

  background-color: #050014;
  color: #FFFFFF;
  background-size: cover;
  background-attachment: fixed; /*edit*/
}

h1 {
  color: #FFFFFF;
  font-family: gsansb;
  text-align: center;
} 

p {
  font-family: gsans;
  font-size: 18px;
}

.game{
  top: 128px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}