@font-face {
  font-family: gsans;
  src: url(/assets/fonts/gsans.ttf);


}
@font-face {
font-family: gsansb;
src: url(/assets/fonts/gbold.ttf);
}
body {

  background-color: #050014;
  color: #FFFFFF;
  background-size: cover;
  background-attachment: fixed; /*edit*/
}

h1 {
  color: #FFFFFF;
  font-family: gsansb;
  text-align: center;
  z-index: 100;
} 

p {
  font-family: gsans;
  font-size: 18px;
  text-align: center;
  z-index: 100;
}

img {
  max-width: 20%;
  max-height:20%;
}

.blog
{
  font-family: gsans;
  font-size: 24px;
  word-wrap: break-word;
  width: 48%;
  position:absolute;
  right:0;
  text-align: right;
}

