<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<style>
  /* Deep-purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #3c3c7e;
  --primary-hover: #3c3c7e;
  --primary-focus: #1e1e3f;
  --primary-inverse: #FFF;
}
</style>
<nav>
    <ul>
      <li><strong>WOCKRLAND</strong></li>
    </ul>
    <ul>
      <li><a href="subjects">Games</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#" role="button">Button</a></li>
    </ul>
  </nav>
  
<title>
	{{ page.title }} - Wockrland
				</title>
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
 <body> 
    {{ content }}
    </body>
</html>
